/* 
	------- Global Less file ---------
			compile to ../css/global.css 
			version: 2013.05.15.1
			author: Mansurova Nadezhda <mansurova.nadezhda@yandex.ru>
*/

@import "variables.less";

/* css reset */
html {
    color: @default-font-color;
    font: @default-font;
    height: 100%;
    position: relative;
    text-align: center;
}
body {
	background: url('@{app_path}/bg-body.gif') repeat-x;
    color: @default-font-color;
    font: @default-font;
    min-height: 100%;
	height:auto;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}
.no_border {
	border: none !important;
}
.e-print {
    background: none repeat scroll 0 0 transparent;
}
a {
    .link-default();
}
a:hover {
	.link-default-hover () 
}

.file-container {
	width: 310px;
	height: 100px;
	display: block;
	background: #f00;
	float: left;
	margin-left: 250px;
}
.loading {
	display: block;
	width: 18px;
	height: 181px;
	background: url('@{app_path}/wait.gif') no-repeat; 
	background-position: center center;
	margin: 0 auto;
}
output#list {
	width: 310px;
	display: block;
	float: left;
	margin-left: 250px;
}
input[type='file'] {
	max-width: 300px;
}

.hint {
	border-bottom: 1px dotted;
    text-decoration: none;
	position: relative;
}
.tooltip {
	.border-all-radius();
    background-color: @light-grey;
    border: 1px solid @grey;
    color: #000000;
    display: none;
    font-weight: normal !important;
    right: -5px;
    opacity: 0.9;
    padding: 5px 10px;
    position: absolute !important;
    top: -10px;
    z-index: 9999;
	width:400px;
}
input, select, option, textarea {
    outline: 0 none;
}
h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code, fieldset {
    padding: 0;
    margin: 0;
    line-height: 1em;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
	display: block;
}
table {
    font-size: inherit;
    font: 100%;
}
ul {
    list-style: none;
}
img {
    border: 0;
}
fieldset {
	border: 1px dashed @grey;
}
em {
	font-style: italic;
}
.clear {
	clear: both;
}
.clear-right{
	clear: right;
}
button, .button {
	.standart-button();
	.box-shadow(1px, 1px, 0px, #aaa);
	text-decoration: none;
}

button[disabled] {
	background: url("@{app_path}/menu-blick.png"), url("@{app_path}/menu-gradient.png");
}
button:hover, .button:hover {
	.box-shadow(0px, 0px, 4px, #aaa);
	color: #fff;
}
.small {
	font-size: 11px;
}
.small.bl {
	em {
		display: block;
		line-height: 1.2;
	}
}
p.minh {
	line-height: 11px;
}
.pageMessageContainer {
	padding: 5px;
	text-align: center;
	color: #f00;
	font-weight: bold;
	background:#FFCACA; 
	margin-top: -5px;
}
.red {
	font-weight: bold;
	color: #ff0000;
}
.blue {
	font-weight: bold;
}
.error {
			color: @error-red;
			font-weight: bold;
			display: none;
		}
div.error {
	padding: 7px 0 0 7px;
}
.mWindow {
	top:50%;
	left: 50%;
	width: 300px;
	height: 50px;
	margin: 0 auto;
	position: fixed;
	border: 1px solid @dark-red;
	color: @dark-red;
	display: none;
	background: #fff;
	.border-radius(5px);
}
.uppercase {
	text-transform: uppercase;
}
.no-border {
	border: none !important;
}
/* footer */
.empty {
	height: 100px;
	width: 99%;
	display:block;
}
.footer {
    bottom: 0;
    clear: both;
    left: 0px;
    margin: 0 auto;
    min-height: 100px;
    position: absolute;
    text-align: left;
    width: 100%;

	.inner-footer {
		width: 928px;
		margin: 0 auto;
		position: relative;

		.info {
		height: 40px;
		position: absolute;
		top: 16px;
		right: 0;
		
		
		ul {
			font: @service-font;
			height: 18px;
			list-style: none outside none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			float: right;
			width: 600px;
			
			li {
				float: left;
				margin: 0 16px 0 0;
			}
		}
	}

	.nvg_logo {
		position: absolute;
		margin: 20px 5px;

		.n_link {
			display: block;
			float: left;
			font-size: 12px;
			padding: 7px 0;
			width: 160px;
		}

		.n_img {
			background: url("@{app_path}/NVGlogo.png") no-repeat scroll 0 0 transparent;
			display: block;
			float: left;
			height: 50px;
			width: 206px;
			padding: 0px 15px 0 0px;
		}
	}
	}

	
	
}

/* top navigator */
.nav.top {
    margin: 0px auto;
    position: relative;
    text-align: right;
    width: 920px;
	font-size: 11px;

	.bl_mob {
		float: right;

		a {
			.nav-top-items();
		}
		
	}

	ul {
		float: left;

		li {
			color: #fff;
			display: block;
			float: left;
			
			* {
				.nav-top-items();
			}

			span{
				background: #000;
			}
			a:hover {
				background: #000;
			}
		}

		li.current {
			background: #000;
		}
	}
}
/* header */


.header {
    height: 50px;
    margin: 0px auto 0;
	padding: 23px 0 0;
    position: relative;
    text-align: left;
    width: 920px;
    z-index: 1;

		.mts.ru {
			background: url('@{app_path}/mts_logo.png') no-repeat;
			display: block;
			width: 200px;
			height: 50px;
			float:left;
		}

		.nika.ru {
			background: url('@{app_path}/logo_nika_ru.png') no-repeat;
			display: block;
			width: 116px;
			height: 50px;
			float: right;

		}


		.mts.en {
			/*background: url('@{app_path}/mts_logo_en.png') no-repeat;*/
			display: block;
			width: 185px;
			height: 50px;
			float:left;
		}

		.nika.en {
			background: url('@{app_path}/header_en.png') no-repeat;
			display: block;
			width: 116px;
			height: 50px;
			float: right;

		}


		.w-shop {
			background: url("@{app_path}/basket.png") no-repeat scroll left -1px transparent;
			color: #58595B;
			font-size: 11px;
			height: 45px;
			padding-left: 50px;
			margin-left: 20px;
			position:absolute;
			left: 350px;

			a {
				color: #1481B4;
				outline: 0;
				font-size: 13px;
				font: Arial;
			}

			a:hover {
			  color: #0280b6;
			  text-decoration: none;
			}

			a.e-items {
				color: #58595B;
				font-size: 11px;
				font-weight: bold;
			}

			p,td,div{
				margin: 0;
				padding: 0;
				border: 0;
				outline: 0;
				font-size: 100%;
				vertical-align: baseline;
				background: transparent;
			}

	}

	.cabinetsplash {
		color: #58595B;
		left: 600px;
		font-family: Arial,sans-serif;
		font-size: 11px;
		height: 45px;
		position: absolute;
		width: 205px;

		.cabinet_image {
			float: left;
			margin-right: 10px;
		}

		a {
			color: #1481B4;
			font-size: 13px;
		}

	}

}

.content {
    margin: 0px auto 0;
	padding: 15px 0 0;
    position: relative;
    text-align: left;
    width: 920px;
}
.banner {
	.border-all-radius();
	.box-shadow();
	width: 660px;
	height: 184px;
	display: block;
	margin: 10px 0 20px;
	
	img {
		.border-all-radius();
	}
}
.aside {
	float: left;
    width: @a_input_width + 40;
	padding-top: 10px;
	

	.legend {
				.red-gradient();
				margin: 0 0 3px;
				padding: 9px 7px;
				color: #fff;
				font-weight: bold;
				.border-radius(5px, 5px, 0, 0);
				line-height: 1;
	}
	
	.bl-mobi {
		.aside-block ();
		padding:15px 0 10px;
		text-align: center;

		img {
			height: 90px;
		}

		h4 {
			color: #B11A1A;
			font: bold 13px/1.2 Arial;
			margin: 0px 0px 10px;

			a {
				color: #B11A1A;
				font: bold 13px/1.2 Arial;
				text-decoration: none;
			}
		}
	}

	.bl-login {
		min-height: 184px;
		.aside-block ();

		#loginForm {
			display:none;
		}
		fieldset {
			border: none;
			
			
			.row {
				padding: 7px 7px 0 7px ;

				.left-column {
					float: left;

				}

				.right-column {
					float: right;

				}

				input {
					width: @a_input_width;
					margin: 0 0 5px;
					
				}

				button {
					line-height: 1.2;
				}
			
			}

		}

		.ie {
			p {
				line-height: 1.3;
				margin: 5px 10px;
			}
		}
	}

	.bl-help {
		background: url('@{app_path}/help.jpg') no-repeat;
		background-position: left bottom;
		height: 104px;
		
		display: block;
		.aside-block ();

		h4 {
			padding: 10px 10px 10px 96px;
			font: 14px/1 Arial, Helvatica, sans-serif;
		}

		ul {
			padding: 0px 10px 10px 96px;

			li {
				list-style: inside disc;
				padding: 0 0 6px 0;			
			}
		}
	}

	.bl-calculate {
		background: url('@{app_path}/start.jpg') no-repeat;
		background-position: left bottom;
		height: 104px;
		display: block;
		.aside-block ();

		a {
			display: block;
			width: 100px;
			height: 54px;
			color: @dark-red;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 1.4;
			padding:30px 10px 10px 110px;
		}
	}

	.bl-quick-start {
		background: url('@{app_path}/start.jpg') no-repeat;
		background-position: left bottom;
		height: 104px;
		
		display: block;
		.aside-block ();

		a {
			display: block;
			width: 100px;
			height: 54px;
			color: @dark-red;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 1.4;
			padding:30px 10px 10px 110px;
		}
	}
	a.download {
		display:block;
		.standart-button();
		width: @a_input_width;
		text-decoration: none;
		.box-shadow(1px, 1px, 0px, #aaa);
		
	}
	a.download:hover {
		.box-shadow(0px, 0px, 4px, #aaa);
	}
	
	.nav.left {
		.aside-block ();


		ul {
			padding: 5px 0 10px;
				
			li {
				padding: 5px 10px;
			}
			li.bullet {
				padding: 5px 30px;
				list-style: url('@{app_path}/bullet.png') inside;
			}
			li.current {
				a {
					color: @mts-red;
					text-decoration: none;
				}
			}
		}
		
	}
	.bl-loggedUser {
		

		.bl-buttons {
			margin: 10px 0 0;
		}
		.bl-inner {
			padding: 15px 10px 0;

			.bl-photo {
				display: block;
				width: 80px;
				height: 80px;
				float: left;
				margin: 0 10px 5px 0;
				background: @dark-red;
			}


			.bl-info{
				float: left;
				width: 125px;
				position: relative;
				height: 80px;
				
				span.uName{
					display: block;
					line-height: 14px;
					max-height: 44px;
					overflow: hidden;
					max-width: 120px;
				}
				p {
					position: absolute;
					left:0;
					bottom: 0;
					line-height: 16px;
					margin: 0 0 0px;

					.uContactInfo {
						display: block;
						color: @dark-red;
						text-decoration: none;
					}				
				}

			}

			.to_map {
		
				display:block;
				.standart-button();
				float: left;
				text-decoration: none;
				.box-shadow(1px, 1px, 0px, #aaa);
				
			}
			.logout {
				float: right;
			}
		}
		
	}
}

/* main menu */
.nav.main {
	margin:0 0 20px 0;

	ul.toplevel {
		border-bottom: 1px solid #9C9D9E;
		background-color: #9C9D9E !important;
		background-image: data-uri("@{app_path}/menu-blick.png"), data-uri("@{app_path}/menu-gradient.png");
		background-repeat: no-repeat, repeat-x;
		.box-shadow();
		.border-radius(5px, 5px, 0, 0);
		height: @topmenu_height;
		
   
		li {
			border-right: 1px solid #7E7F7F;
			display: inline-block;
			font-size: 13px;
			letter-spacing: normal;
			margin-left: 0px;
			vertical-align: top;
			word-spacing: normal;
			zoom: 1;
			*display:inline;

            &.current {
			    a {
				    background-color: #E62020 !important;
				    background-image: data-uri("@{app_path}/menu-gradient-active.png") !important;
				    background-repeat: repeat-x;
				    border-color: #F4575F #F4575F #9E0101;
				    border-width: 0 1px 1px;
				    text-shadow: none;
			    }
		    }

            &:first-child { 
			    border-left:none !important;
			    a {
				    border-radius: 5px 0 0 0 !important;
				    position: relative;
				    border-left:none !important;
			    }
		    }

			a {
				border-color: #9E9FA0;
				border-style: solid;
				border-width: 0 1px;
				color: #FFFFFF;
				display: block;
				height: 100%;
				padding: 0 15px;
				text-decoration: none;
				text-shadow: 0 1px 0 #424343;
				line-height: @topmenu_height;
			}

		}

	}

	ul.sublevel {
		.box-shadow();
		min-height: 26px;
		padding: 0 0 20px;
		width: 921px;
		.border-radius(0, 0, 5px, 5px);

		li {
			display: inline-block;
			font-size: 13px;
			letter-spacing: normal;
			margin-left: -3px;
			vertical-align: top;
			word-spacing: normal;
			height: 100%;
			
			padding: 20px 15px 0;
			zoom: 1;
			*display:inline;

			a {
				text-decoration: none;
							
			}
			a.corp_mts {
				display: block;
				width: 200px;
				height: 48px;
				background: url("@{app_path}/corp_mts.jpg") no-repeat;
				color: #EC1D23;
				display: block;
				font-size: 15px;
				font-weight: bold;
				fiont-family: Arial;
				padding-left: 85px;
				text-shadow: 0 1px 1px #FFFFFF;
				line-height: 48px;
			}


		}			
		 li.quick {
			font-weight: bold;
			a {
				color: @dark-red;
				
			}

		 }
		li.current {
			a {
				color: @mts-red;
			}
		}
		li.bold {
			font-weight:bold;
			a {
				color: @dark-red;
			}
		}
		


	}

}

/*article*/
.article {
	float: right;
    margin: 0;
    width: 660px;

	h1 {
			
			font: 26px/31px Arial;
			padding: 5px 0 22px;
			color: #000;

			.small {
				padding: 0 5px;
				font-size: 16px;
			}
			
		}

	.news {
		margin: 20px 0;

		a {
			color: #333;
			text-decoration: none;

		}
		h3 {
			color:#B11A1A;
			text-decoration: none;

			a {
				color:#B11A1A;
				text-decoration: none;
			}

			font-weight: bold;
		}
		.date {
			text-align: right;
			color: #aaa;
		}
	.item.nolink {
	
			a {
				color: #1481B4;
				text-decoration: underline;

			}
	}

		
	}

	.inner {
		.box-shadow ();
		.border-all-radius();
		padding: 22px 32px;
		font-size: 12px;
		line-height: 16.5px;
		color: 	#666666;
		margin: 10px 0 0;

		.bl-calculate, .bl-quick-start {
				float: left;
				margin: 5px 5px 5px 10px;
				line-height: 1.8;
			a{
				display:block;
				.standart-button();
				text-decoration: none;
				.box-shadow(1px, 1px, 0px, #aaa);			
			}
			a:hover {
				.box-shadow(0px, 0px, 4px, #aaa);
			}

		

		}
		
		.bl-quick-start	{
				margin: 5px 5px 5px 0;
		}
		
		h2 {
			color: @dark-red;
			font: bold 15px/1.3 Arial;
			margin: 6px 40px 5px 0px;

			a {
				color:  @dark-red;
			}
		}


		h3 {
			font: bold 13px/1.3 Arial;
			margin-bottom: 10px;
			padding: 20px 0 4px;	
			color: #000;
			text-transform: uppercase;
			background: url("@{app_path}/h2-border.gif") 100% 100%  no-repeat;
		}

		h4 {
			font-weight: bold;
			margin: 0px 0 10px;
			padding: 20px 0 0px;
			text-align: center;
		}
		ul.li2 {
			display: block;		
			li {
				background: url("@{app_path}/li2.gif") no-repeat;
				background-position: 2px 5px;
				line-height: 1.4em;
				padding: 0 0 13px 15px;
				display: block;

			}
		}
		ol {
			li {
				ul {
					li {
						background: url("@{app_path}/li.gif") no-repeat;
						background-position: 2px 5px;
						line-height: 1.4em;
						display: block;
						margin: 6px 0 0;
						padding: 0px 0 7px 15px;
					}
				}
			}
		}
		ul, ul.li1 {
			display: block;
		
			li {
				background: url("@{app_path}/li.gif") no-repeat;
				background-position: 2px 5px;
				line-height: 1.4em;
				display: block;
				padding: 0 0 13px 15px;

			}
		}
		
		.b-center {
			text-align: center;

			.button {
				margin: 5px 0;
			}
		}
		p {
			display: block;
			padding: 0 0px 12px;
			margin:0;			
		}
		
		strong {
			font-weight:bold;
		}
		.promo {
			display:block;
			float: left;
			margin: 5px 10px 1px 5px;
		}
		.lightbox {
			display:block;
			margin: 10px auto;	
			
			img {
				display: block;
				margin: 0px auto;	
			}	
		}
		em.vrez {
				margin: 7px 5px;
				display: block;
				font-size: 14px;
				color: @dark-red;
			}
		form {
			p {
				display: block; 
				margin: 0px;
				
				label {
					display: inline-block;
					vertical-align: top;
					width: 250px;
				}

				input[type="text"], input[type="tel"], input[type="email"], textarea {
					display: inline-block;
					width: 300px;
					max-width: 300px;
					min-width: 300px;
					
				}
				button {
					line-height: 1.3;
				}
				span {
					padding: 0 5px;
					color:#f00;
					float: right;
					display: block;
				}

			}

			fieldset {
					padding: 10px;
					width: 542px;
					margin: 0 0 10px 0;
			}

			

		}
		table {
			.box-shadow();
			margin: 20px auto;
			tr {
				td {
					border-top: 1px solid @grey;
					padding: 10px;
				}
				td:first-child {
					border-right: 1px solid @grey;
				}
			}
			tr:first-child {
				td {
					border-top: none;
				}
			}
			
		}

		table.three-col {
			thead{
				tr {
					td {
						border-bottom: 1px solid @grey;
						font-weight: bold;
					}
				}
			}
			tr {
				td {
					border-right: 1px solid @grey;
				}
				td:first-child {
					text-align: center;
				}
				td:last-child {
					border-right:none;
					
				}
				
			}	
		}

		table.three-col.installation {
			thead{
				tr {
					td {
						text-align: center;
					}
				}
			}
			tr {
				td:first-child {
					text-align: left;
				}
				td:last-child {
					border-right:none;
					width: 250px;
				}
				
			}	
		}

		table.three-col.sms {
			margin: 0 auto 20px;

			thead{
				tr {
					td {
						text-align: center;
						border-bottom: 1px solid @grey;		
					}
				}
			}
			tbody {
				tr.last {
				
					td {
						border-bottom: 1px solid @grey;						
					}
				
				}	
			}
			tr {
				td {
					padding: 5px 10px;
					border-bottom: none;
					border-top: none;
				}
			}
			
			tr {
				
				td:last-child {
					border-right:none;
					width: 250px;
				}
				
			}	
		}

		table.no-border{
			box-shadow: none;
			margin: 0;
	
			th, td, td:first-child {
				border: none;
				padding: 0px 0px 10px;
				box-shadow: none;
				vertical-align: top;
			} 
			td:first-child {
				width: 250px;
			}

			div {
				position:relative;
			}
		}

		table.prices {
			tr {
				td:first-child {
					width: 200px;
					text-align: left;
				}
				td {
					border-right: 1px solid @grey;
					text-align: center;
				}
				td:last-child {
					border-right:none;
					
				}
			}
		}
		.author { 
			text-align:  right;
			font-style: italic;
		}
		.left {
			float: left;
			margin: 0 15px 10px 0;
		}
		table.left {
			width: 380px;
			margin: 10px;
		}
		.right_wide {
			float: right;
			margin: 0 15px 10px 0;
			width: 360px;
		}
		.right {
			float: right;
			margin: 0 0px 10px 15px;
		    width: 180px;
			
			a {
				
				clear: both;
			}

			img {
				display: block;
				clear: both;
			}
		}
		.media-post {
			clear:both;
			margin: 0 0 25px;
		}
		figcaption {
			width: 150px;
			text-align:center;
			text-decoration: underline;
			color:#B11A1A;
			clear: both;
			display: block;
		}
		.price {
			text-decoration: none;
			text-align: center;
			color: #333;
			font-weight: bold;
			display: block;
			margin: 3px 0 3px 7px;
			clear: both;
		}
		.hidden {
			display: none;
		}
		.show_hide {
			margin: 5px;
			border-bottom: dashed 1px @link-blue;
			text-decoration: none; 
		}
		.show_hide_spoiler {
			border-bottom: dotted 1px @link-blue;
			text-decoration: none; 
		}
		.show_hide_spoiler.img {
			border: none; 
			position: relative; 
			top: 5px; 
			margin-right: 3px; 
		}
			
			.txt {
				padding: 12px 0 0 20px;
			}

			.txt2 {
				padding: 2px 0 0 20px;

				p {
					padding: 0 0 5px;
				}
			}

			ul {
				li {
					.txt {
						margin: 0 0 -12px 0px;
					}
				}

				li.error {
					background: none;
					padding: 5px;
				}
			}
			#list {
				ul {
					li {
						padding: 5px ppx 5px 19px;
					}
					li.err {
						background: none;
						padding: 5px;
					}
					.error {
						float: none;
						display: inline;
						padding: 0;
					}
				}
			}
		.spoiler {
			display: inline-block;
			margin: 10px 0px;
			border: 1px solid @grey;
			background: #fff;
			padding: 10px 10px 0;
			width: 574px;

			h5 {
				text-align: left;
				font-weight: bold;
				margin: 5px 0;
			}
		}
		.spoiler.withoutborder {
			display: inline-block;
			margin: 10px 5px;
			border: none;
			background: #fff;
			padding: 0;
			width: 380px;
			
			table.left {
				width: 360px;
			}
		}
		.spoiler.withoutborder.wide {
			margin: 10px 0px;
			border: none;
			background: #fff;
			padding: 0;
			width: 574px;
			
			table.left {
				width: 574px;
			}
		}
		.spoiler.hidden {
			display: none;
		}
		.indent {
			text-indent: 27px;
		}
		.more-div {
			clear: both;
		}
		.question {
			padding: 0px 0 0 0;
			font-weight:bold;
		}
		.answer {
			padding: 0px 0px 10px 15px;
		}
		ol {
			li {
				list-style-type: decimal;
				background: none;
				display: list-item;
				padding: 0;
				line-height: 17px;
			}
		}

	}

	.button {
		margin: 10px 5px;
		display: inline-block;
		
	}

	.button.upload {
		margin: 0 0 10px 0;
	}

}


#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: @grey;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}


#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;

  a {
	
	border: none;
	 
	  img {
	  width: auto;
	  height: auto;
	  max-width: 99% !important;
	}

  }
  	  img {
	  width: auto;
	  height: auto;
	  max-width: 99% !important;
	}
}


.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  .border-all-radius();
  max-width: 99% !important;

  .lb-closeContainer {
	position:absolute;
	top:3px;
	right:3px;
	width: 14px;
	height: 14px;
	cursor:pointer;
  }
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 16px;
}

.lb-dataContainer {
  margin: 20px auto;
  padding: 10px 0;
  *zoom: 1;
  width: 100%;
  .border-all-radius();
  background: #fff; 
  color:#000;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}


.lb-data {
  padding: 0 10px;
  color: #000;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}

.lb-data .lb-close {
  width: 15px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}

.lb-data .lb-close:hover {
  cursor: pointer;
}


table.serv-table {
	width: 100%;
	th, td {
		text-align: center;
		border: 1px solid @grey;
		padding: 10px;

	}
}
.transport-type {
	label {
		padding-left: 30px;
		width: 220px !important;
	}
}