﻿/* 
	------- Options Less file ---------
			using in &type=options
			version: 2013.09.02.1
			author: Mansurova Nadezhda <mansurova.nadezhda@yandex.ru>
			
			

*/

@import "variables.less";
	


.options {
	.item {
		border-bottom: 1px dashed #cfcfcf;
		padding: 5px 0;

		h4 {
			color: @dark-red;
			text-align: left;
			padding: 0px 5px;
			margin: 3px 0;
		}

		h5 {
			font-weight: bold;
			padding: 3px 5px;
		}
	}
	
}
