/* 
	------- Variables Less file ---------
			using in global.less 
			version: 2013.05.15.1
			author: Mansurova Nadezhda <mansurova.nadezhda@yandex.ru>
*/
/* paths */
@app_path: '../../../includes/sources/images';


/* colors */
@grey: #cfcfcf;
@light-grey: #FCFCFC;
@dark-red: #B11A1A;
@mts-red: #EC1D23;
@pink: #fbfbfb;
@link-blue: #1481B4;
@error-red: #FC343B;


.red-gradient(@start:#EB2020, @stop:#971718){
	/*background: @start; 
	background: gradient(top,  @start, @stop); 
	background: -moz-linear-gradient(top,  @start, @stop); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(@start), color-stop(@stop)); 
	background: -o-linear-gradient(top,  @start, @stop);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr=@start, endColorstr=@stop, GradientType=0 );*/
	background: url('@{app_path}/button_gradient.png') repeat-x;
	
		
}

/*heights*/
@submenu_height: 46px;
@topmenu_height: 39px;

/*widths*/
@a_input_width: 215px;


/* fonts */
@default-font: e("12px/1.3 Arial, Helvetica, sans-serif");
@button-font: e("normal 13px/1.4 Arial, Helvetica, sans-serif");
@default-font-color: #333;
.link-default () {
	color: @link-blue;
    outline: 0 none;
}
.link-default-hover () {
    color: #0280B6;
    text-decoration: none;
}
@service-font: e("10px/1 Arial, Helvetica, sans-serif");
.nav-top-items () {
	display: block;
	padding: 9px;
	color:#fff;
	line-height: 1em;
}



/* rounded corners */
.border-all-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}
.border-radius (@tr:0, @tl:0, @br:0, @bl:0) {
  border-radius: @arguments;
  -moz-border-radius: @arguments;
  -webkit-border-radius: @arguments;
}

/* shadows */
.box-shadow (@x: 0, @y: 0, @blur: 10px, @color: @grey) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;

}

/* blocks */

.aside-block () {
	.border-all-radius();
	.box-shadow();
    line-height: 1.8 !important;
	margin: 0 0 20px;
	width: @a_input_width + 20;
}

/* buttons */
.standart-button (@bgcolor: #fff){
	color: @bgcolor;
	border: none;
	padding: 5px 10px;
	.border-all-radius();
	.red-gradient();
	margin: 0 0 10px;
	cursor: pointer;
	font-weight: normal !important;
	font: @button-font;


}