﻿<div xmlns="http://www.w3.org/1999/xhtml" style="width: 280px;" id="saveZoneDlg"
    class="ontop">
    <div style="width: 100%; margin-top: 5px;">
        <div style="width: 70%; float: left;">
            <span style="padding-left: 5px;"><b>Редактирование зоны</b></span></div>
    </div>
    <div style="clear: both; background-color: #fff; margin: 2px; width: 99%; height: 230px;
        color: #000;">
        <div style="padding: 5px;">
            <strong xmlns:user="urn:my-scripts">Название</strong><sup xmlns:user="urn:my-scripts"
                class="required">*</sup><div xmlns:user="urn:my-scripts">
                    <textarea id="zoneName" name="zoneName" class=" data required         " rows="1"
                        onkeypress="" style="width: 98%; height: 25px;">ТуапсеСочи</textarea></div>
        </div>
        <div style="padding: 5px;">
            <strong xmlns:user="urn:my-scripts">Описание</strong><div xmlns:user="urn:my-scripts">
                <textarea id="zoneDescription" name="zoneDescription" class=" data" rows="5" onkeypress=""
                    style="height: 60px; width: 98%;"></textarea></div>
        </div>
        <div style="float: left; width: 100%; padding: 5px;">
            <div xmlns:user="urn:my-scripts">
                <span style="margin-bottom: 5px;">Выбор цвета: </span>
                <div style="width: 100%;">
                    <div class="wrapper" style="float: left; width: 16px; margin-right: 5px;">
                        <span class="color black" onclick="ColorTools.setColor(event, 'colorPicker', 'black')">
                            <span>bl</span></span></div>
                    <div class="wrapper" style="float: left; width: 16px; margin-right: 5px;">
                        <span class="color red" onclick="ColorTools.setColor(event, 'colorPicker', 'red')"><span>
                            re</span></span></div>
                    <div class="wrapper" style="float: left; width: 16px; margin-right: 5px;">
                        <span class="color green" onclick="ColorTools.setColor(event, 'colorPicker', 'green')">
                            <span>gr</span></span></div>
                    <div class="wrapper" style="float: left; width: 16px; margin-right: 5px;">
                        <span class="color blue" onclick="ColorTools.setColor(event, 'colorPicker', 'blue')">
                            <span>be</span></span></div>
                    <div class="wrapper" style="float: left; width: 16px; margin-right: 5px;">
                        <span class="color yellow" onclick="ColorTools.setColor(event, 'colorPicker', 'yellow')">
                            <span>ye</span></span></div>
                </div>
                <div style="clear: both;">
                    <input type="hidden" id="colorPicker" value="red" /></div>
            </div>
        </div>
    </div>
    <div style="width: 100%; margin-bottom: 5px;">
        <div style="padding: 5px;">
          <button type="button" style="width: 120px;" onclick="Geozone.save(event)">
                        Сохранить</button></div>


           <button type="button" style="width: 120px; margin-left: 15px;" onclick="GooMaps.mapG.disableInfoWindow();GooMaps.mapG.enableInfoWindow();">
                        Отмена</button></div>

        </div>
    </div>
</div>
